# inspried by https://github.com/mbhall88/lrge/blob/main/.github/workflows/release.yml
name: Release

on:
  push:
    tags:
      - "salti-[0-9]+.[0-9]+.[0-9]+"

jobs:
  release:
    name: Release - ${{ matrix.platform.os-name }}
    permissions:
      contents: write
    runs-on: ${{ matrix.platform.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os-name: Linux-x86_64
            runs-on: ubuntu-24.04
            target: x86_64-unknown-linux-musl

          - os-name: macOS-x86_64
            runs-on: macOS-latest
            target: x86_64-apple-darwin
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: ${{ matrix.platform.target }}
          args: "--locked --release"
          strip: true

      - name: Publish artifacts and release
        uses: houseabsolute/actions-rust-release@v0
        with:
          executable-name: salti
          target: ${{ matrix.platform.target }}
          changes-file: CHANGELOG.md
